@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Quicksand&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@300&display=swap");

.contact {
  font-size: 2em;
  width: 500px;
  text-align: center;
  margin: 100px auto;
  font-family: Roboto Slab;
}
